*.pyc
*.egg-info
**docs/*
dist/
GEOToolBoxSetup.isproj
GISPython.pyproj
GISPython.pyproj.vspscc
AGServerHelpaer.py
CachingHelper.py
FTPHleper.py
GDBHelper.py
GDPSyncroniserHelper.py
JsonParamsHelper.py
RarHelper.py
SFTPHelper.py
SysTools_unittest.py
copyFromSrc.py