include LICENSE
include  GISPython/PShell/*

exclude img/*
exclude docs/*
exclude  GISPython/*.pyc
exclude  GISPython/GEOToolBoxSetup.isproj
exclude  GISPython/GISPython.pyproj
exclude  GISPython/GISPython.pyproj.vspscc